run = "bash run.sh"
modules = ["python-3.12", "nix", "bash"]
hidden = ["flake.nix", "flake.lock"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "poetry run python src/__init__.py"]
deploymentTarget = "gce"
ignorePorts = true

[[ports]]
localPort = 8090
externalPort = 80
